html
{
	background-color: black;
	color: white;
}
header
{
	color: white;
	border: 1px solid white;
	border-width: 3px;
	height: 50px;
	text-align:center;
	line-height:50px;
	border-radius: 5px;
}
#logo
{
	border: 1px solid black;
	height: 47px;
	width: 60px;
	float: left;
}
#logo1
{
	border: 1px solid black;
	height: 47px;
	width: 60px;
	float: left;
	display:inline-block;
}
#div1
{
	border:1px solid white; 
	border-width: 3px;
	margin-top:10px; 
	margin-bottom:10px;
	height:500px;
}
#div2
{
	background:white;
	border:1px solid white; 
	height: 100%;
	width:17%;
	float: left;
}
#div3
{
	border:1px solid white;
	height:100%;
	width:100%;
}
#Qnumbers
{
	border: 1px dashed black;
	height: 99%;
	width:97%;
	padding-left:0px;
	margin:0px;
	
}
li
{
	background: black;
	text-align:center;
	border:1px solid white;
	margin-bottom:2px;
	font-size:20px;
	color:#bbc;
}
a
{
	text-decoration:none;
	color:#ffc;
	display:block;
	font-size:15px;
}
a:hover
{
	background-color:#456789;
}
footer
{
	color: white;
	border: 1px solid white;
	border-width: 3px;
	height: 50px;
	text-align: center;
	line-height:50px;
	border-radius: 5px;
}