html
{
	font-size:20px;
	color: white;
	
}
.bg 
{
    background-image: url('loginimg.jpeg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table
{
	border-color: solid white;
	margin-top:15%;
	border-top: 1px solid;
	padding-bottom: 30px;
	border-bottom: 1px solid;
}
.decorbtn
{
	background-color: white;
	border-radius: 4px;
	color: green;
}
.indexbutton
{
	background-color: black;
	border-radius: 4px;
	color: white;
}


